[submodule "RegistroFront"]
	path = RegistroFront
	url = https://github.com/ElLuchoMan/RegistroFront.git
[submodule "RegistroBack"]
	path = RegistroBack
	url = https://github.com/ElLuchoMan/RegistroBack.git
